TG100_NAME=GW1name,mygw,....
TG_HOST=xxx.xxx.xxx.xxx,yyy.yyy.yyy.yyy,...
TG_PORT=5038,5039,....
TG_USERNAME=apiuser,admin,...
TG_PASSWORD=apiuser,passwd,...

TG_TOKEN=6253496987:*****
TG_CHAT_ID=-11111111

EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_PASS=*****
EMAIL_ADDR=******@gmail.com

SENDTO_EMAIL=*****@somemail.com
