TG_HOST=192.168.70.4
TG_PORT=5038
TG_USERNAME=apiuser
TG_PASSWORD=apiuser
TG_TOKEN=6253496987:*****
TG_CHAT_ID=-11111111

EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_PASS=*****
EMAIL_ADDR=******@gmail.com
